/*Font setup*/
@font-face {
    font-family: BlenderProBook;
    font-style: normal;
    font-weight: 400;
    src: url(BlenderProBook.woff2) format("woff2");
}

/*Color variables*/
:root {
    --root-font-size: 18px;
    --yellow: #f8ef02;
    --cyan: #00ffd2;
    --red: #ff003c;
    --black: #000;
    --white: #fff;
    --dark: #333;
}

/*Base Styling*/
html {
    font-size: var(--root-font-size);
    font-family: "BlenderProBook";
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--yellow);
    padding: 0;
    margin: 0;
    margin-bottom: 60px;  /* 底部外边距，确保有足够空间给footer */
    font-family: BlenderProBook;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/BlenderProBook.woff2) format("woff2");
}

header {
    text-align: center;
    margin: 0;
}

main {
    text-align: center;
    margin: 0;
}

/*Headings with block underline*/

h1 {
    font-family: BlenderProBook;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/BlenderProBook.woff2) format("woff2");
}

h2 {
    display: block;
    width: 60%;
    font-size: 2.5rem;
    margin: 1.6rem 0;
    width: 100%;
}

h3 {
    display: block;
    width: 60%;
    font-size: 2rem;
    margin: 1.4rem 0;
    width: 80%;
    text-align: left;
}

h4 {
    display: block;
    width: 60%;
    font-size: 1.5rem;
    margin: 1.2rem 0;
    width: 70%;
    text-align: left;
}
/*Only head3 and 4 have underline*/
h3::after,
h4::after {
    content: ' ';
    width: 100%;
    height: 6px;
    display: block;
    background-color: var(--black);
    clip-path: polygon(0 0, 0 100%, 10% 100%, calc(10% + 4px) 2px, 100% 2px, 100% 0);
    /*
    so I wanna start from left top(0 0 ), then the line goes to left buttom(0,100%), then the third dot
    is at the bottom taking 10 % of width starting from left(10% 100%), the 4th dot move 4px to right, and
    move 2px to top( cal(10%+4) 2px ), then keep going to right edge (100% 2px)
    then goes to right top( 100% 0 ).
    This code could output a better visual design than a really boring bottom line i think :)
    */
}

/*Link styling*/
/**/
a {
    color: var(--black);
    text-decoration: none;
}

a:link,
a:visted {
    color: var(--black);
    text-decoration: none;
}

/**/
a:hover {
    color: var(--red);
    text-decoration: underline;
}

a:active {
    color: var(--green);
    text-decoration: none;
}

/*Select control customization*/
select.form-control {
    background-color: var(--black); 
    color:var(--cyan);  
    border-color:var(--black);  
}
select.form-control, select.form-control option {
    font-family:BlenderProBook, BlenderProBook;  
    font-size: 16px;  
}

/*Button style*/
button {
    background-color: var(--dark);
    color: var(--white);
    font-weight: 700;
    padding: 0.3rem 1.2rem;
    outline: transparent;
    border: 0;
}
/*header and footer styles*/
header {
    position:static;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    z-index: 1000;
    padding: 10px 0;
}

footer {
    position: fixed;   
    bottom: 0;         
    left: 0;           
    width: 100%;       /* From left to right */
    background-color: black; /* whole black color */
    color: white;      /* text should be white */
    text-align: center; /* center */
    padding: 10px 0;   /* top and bottom are 10px，dont care about left and right */
    z-index: 1000;     /* Ensure footer above everything */
}

